################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/obj/*
/bin/*
.suo
/Data/Secrets.json
/Source/Data/DataStore.json
/Source/Data/datastore.tsv
